
<div class="container">
  <div class="starter-template">
    <h1>Welcome</h1>
  </div>
  <p>
    <em>Allowbank</em> is a quick and easy way for families to keep
    track of allowance/commissions and tasks.
  </p>

  <p>
    You start creating a family group, and creating members in the
    family. Each member can have a roles (banker, client, both) add
    weekly tasks for each client and add a commision (or allowance)
    either per task or per week.
  </p>

  <p>
    When a client completes a task, the client marks it as completed. A
    message is sent to the banker to approve task completion. On
    approval, the amount tied to the task is added to the family
    member's balance.
  </p>

  <p>
    When a client wants to do a withdrawal, he sends a request to the
    banker. The banker can approve the withdrawal (with potentially an
    excahnge of real funds) at which time the money is removed from the
    client's account.
  </p>

  <p>
    For pure allowance (when the allowance is not tied to a task), the
    banker can just create an allowance task.  Allowance tasks are
    assumed to be completed automatically at a particular date. At
    that date the money is added directly to the client's account.
  </p>

</div>
